.transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 800;

    &__bg,
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__bg {
        background-color: $color-blue;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.moveout .transition__bg {
        animation: swipeOutOverlay 0.3s 0s 1 normal both ease-in-out;
    }

    &.movein .transition__bg {
        animation: swipeInOverlay 0.3s 0s 1 normal both ease-in-out;
    }

    &.moveout {
        .transition__bg {
            &:before {
                transform: scaleX(0);
            }
        }
    }

    &.movein {
        .transition__bg {
            &:before {
                animation: swipeInOverlayBreak 0.5s 0s 1 normal both ease-in-out;
                transform-origin: 100% 0%;
            }
        }
    }
}

.page {
    &--home {
		&__transition {
			background-color: $color-blue;
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			z-index: 999;
            transition: all 1s;
            display: flex;
            align-items: center;
            justify-content: center;

            &--title {
                opacity: 0;
                visibility: hidden;
                transition: all .3s;
                color: $color-white;
                font-size: 30px;

                &.show-title {
                    opacity: 1;
                    visibility: visible;
                }
            }

			&--remove {
				pointer-events: none;
				transform: translateY(-100%);
			}
		}
	}
}

@keyframes swipeOutOverlay {
    0% {
        // transform: translate(0);
        opacity: 1;
    }
    100% {
        // transform: translate(-100%);
        opacity: 0;
    }
}
  
@keyframes swipeInOverlay {
    0% {
        // transform: translate(-100%);
        opacity: 0;
    }
    100% {
        // transform: translate(0);
        opacity: 1;
    }
}
  
@keyframes swipeInOverlayBreak {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}