.header {
    height: 120px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 799;

    &__wrapper {
        width: 100%;
    }

    &__list {
        width: fit-content;
        margin-left: auto;

        li {
            display: inline-block;
            margin-right: 16px;

            a {
                color: $color-blue
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}